tests/resources
Makefile
Makefile.in
aclocal.m4
config.guess
config.log
config.status
config.sub
configure
config.h.in
src/config.h
src/stamp-h1
install-sh
libtool
ltmain.sh
missing
compile
depcomp
autom4te.cache
*.o
*.lo
*.la
.deps
.libs
*~
\#*
.#*
